.nav-item-inner {
    height: 74.8px;
    font-size: 20px;
    padding-left: 5%;
    font-weight: bold;
    line-height: 74.8px;
    color: rgb(138, 136, 136);
}

.nav-item-inner:hover {
    cursor: pointer;
    background-color: #D3D3D3;
}
