.navbar {
    border-right: 1px solid #D3D3D3;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100%;
}

.nav-header {
    display: flex;
    border-bottom: 1px solid #D3D3D3;
}

.nav-header-img {
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu {
    height: 765px;
    margin: 20px;
}

.nav-item {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.nav-item:hover {
    background-color: #D3D3D3;
}

.nav-footer {
    height: 67px;
    font-size: 20px;
    border-top: 1px solid #D3D3D3;
}

.nav-footer-wrap {
    display: flex;
    width: auto;
    padding: 10px;
}

.nav-footer-txt {
    width: 80%;
    padding-left: 10px;
    padding-top: 8px;
}

.nav-footer-btn {
    width: 20%;
    border: 0px;
    font-size: 40px;
    color: #0089fff5;
    padding-left: 10px;
    padding-right: 10px;
    background: #f2f2f2;
}

.nav-footer-btn:hover {
    cursor: pointer;
    text-shadow: rgb(135, 147, 255) 1px 0 10px;
}