.navbar {
    display: flex;
    border-right: 1px solid #D3D3D3;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.nav-menu {
    width: 90%;
    list-style: none;
    justify-content: end;
    margin-right: 20%;
}

.nav-item {
    width: 90%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    background-color: tomato;
    margin: 20px;
    border-radius: 30px;
    font-size: 20px;
}