.body-content {
    width: 80%;
    height: 100vh;
}

.content-header {
    height: 10%;
    border-bottom: 1px solid #D3D3D3;
}

.content-main {
    height: 80%;
    border-bottom: 1px solid #D3D3D3;
}

.content-footer {
    height: auto;
}